BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    SCROLLBAR-FACE-COLOR: #c8b080;
    BACKGROUND: #c8b080;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    PADDING-TOP: 0px;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
.LINE
{
    BACKGROUND-COLOR: #000000
}
A
{
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #B88D0E
}
.copyright
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.purchase_sub_title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    BACKGROUND: #D3C09A;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.inter_title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.content
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify
}
.work_content
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify
}
.games_content
{
    FONT-SIZE: 11px;
    COLOR: #e70000;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify
}
.purchase_content
{
    FONT-SIZE: 11px;
    BACKGROUND-COLOR: #F4F0E8;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify
}
.inter_content
{
    FONT-SIZE: 11px;
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify
}
.form_content
{
    FONT-SIZE: 11px;
    COLOR: #545454;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify
}
.bgwork
{
    BACKGROUND-COLOR: #DBA80F
}
.bgwhy
{
    BACKGROUND-COLOR: #982e19
}
.bgabout
{
    BACKGROUND-COLOR: #006600
}
.bginter
{
    BACKGROUND-COLOR: #fbdb1e
}
.bggames
{
    BACKGROUND-COLOR: #ffffff
}
.bgpurchase
{
    BACKGROUND-COLOR: #e70000
}
.top_work
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11PX;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
A.top_work:link
{
    COLOR: #ffffff
}
.top_work_active
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c8b080;
    TEXT-ALIGN: center
}
.top_why
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
A.top_why:link
{
    COLOR: #ffffff
}
.top_why_active
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c8b080;
    TEXT-ALIGN: center
}
.top_about
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
A.top_about:link
{
    COLOR: #ffffff
}
.top_about_active
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c8b080;
    TEXT-ALIGN: center
}
.top_purchase
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
A.top_purchase:link
{
    COLOR: #ffffff
}
.top_purchase_active
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c8b080;
    TEXT-ALIGN: center
}
.top_inter
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #000000;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
A.top_inter:link
{
    COLOR: #ffffff
}
.top_inter_active
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c8b080;
    TEXT-ALIGN: center
}
.top_games
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #c8b080;
    TEXT-ALIGN: center
}
BUTTON.textbox11
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BACKGROUND: #ffffff;
    FONT: bold 9pt/13pt trebuchet ms, Verdana, helvetica, san-serif;
    BORDER-LEFT: 1px solid;
    COLOR: #c0003b;
    BORDER-BOTTOM: 1px solid;
    HEIGHT: 17pt;
    TEXT-DECORATION: none
}
INPUT
{
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #666666 1px solid;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
SELECT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
